/* Customization/CSS-Variables */
:root, html[data-theme="light"] {
    --primary-color: #000000;
    --secondary-color: grey;
    --contrast-color: #ffffff;
    --accent-color: rgb(255, 166, 0);
    --primary-background: #ffffff;
    --secondary-background: #c9c9c9;
    --green: rgba(81, 179, 0, 0.486);
    --red: rgba(177, 20, 20, 0.473);
    --yellow: rgb(226, 230, 29);
    --bright: rgb(245, 240, 240);
    --medium: rgb(124, 124, 124);
    --dark: rgb(30, 30, 30);
    --shadow: rgba(0, 0, 0, 0.1);
    --skeletonLoading-dark: hsl(200, 20%, 70%);
    --skeletonLoading-bright: hsl(200, 20%, 95%);
    --border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
    :root, html[data-theme="dark"] {
        --primary-color: #ffffff;
        --secondary-color: grey;
        --contrast-color: #1ad2df;
        --accent-color: rgb(255, 166, 0);
        --primary-background: #000000;
        --secondary-background: #424242;
        --green: rgba(81, 179, 0, 0.486);
        --red: rgba(177, 20, 20, 0.473);
        --yellow: rgb(226, 230, 29);
        --bright: rgb(245, 240, 240);
        --medium: rgb(124, 124, 124);
        --dark: rgb(30, 30, 30);
        --shadow: rgba(0, 0, 0, 0.1);
        --skeletonLoading-dark: hsl(200, 20%, 70%);
        --skeletonLoading-bright: hsl(200, 20%, 95%);
        --border-radius: 0.25rem;
    }
}

/* Default Styles */

html {
    color-scheme: dark light;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    font: inherit;
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

/* Elements */

/* GENERAL */
*, *::before, *::after {
    color: var(--primary-color);
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

* {
    padding: 0;
    margin: 0;
}

/* DATA */
img, picture, svg, canvas, map, video, audio {
    display: block;
    max-width: 100%;
}

.iframe-box, .object-box, .embed-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.iframe-box iframe, .object-box object, .embed-box embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* INPUT */
input, button, textarea, select {
    font: inherit;
    line-height: inherit;
    color: inherit;
}

/* TEXT */
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: '# ';
    color: var(--accent-color);
}

ul, ol {
    list-style-position: inside;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a:hover {
    text-decoration: underline;
}

mark {
    color: #000;
}

/* HEADER */
header {
    z-index: 999;
    top: 0;
    padding: 1rem;
    position: sticky;
    background-color: var(--primary-background);
    border-bottom: 2px solid var(--accent-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header nav ul li {
    list-style: none;
}

/* MAIN */

/* INPUT */
fieldset {
    padding: 1rem;
}

/* ARTCILE */
article {
    padding: 0 0.5rem 0.5rem 0.5rem;
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

/* QUOTE */
blockquote {
    border-left: 10px solid var(--secondary-background);
    margin: 1.5em 5px;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline;
} 

/* DETAILS */
details p {
    height: 0;
    transition: 0.3s;
}

details[open] p {
    height: max-content;
}

/* BUTTON */
button, [role="button"], input[type="submit"], input[type="button"], input[type="reset"] {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.125rem 0.25rem;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-background);
}

button:active, [role="button"]:hover, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
    scale: 0.95;
}

button:hover, [role="button"]:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
    border: 2px solid var(--accent-color);
    opacity: 0.9;
}

/* ASIDE */
/* SIDEBAR */
/* Inspiration: https://every-layout.dev/layouts/sidebar/ */
body[data-layout="sidebar"] {
    display: flex;
    flex-wrap: wrap;
}

body[data-layout="sidebar"] aside {
    position: relative;
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20rem;
    flex-grow: 1;
}

body[data-layout="sidebar"] aside ul {
    z-index: 999;
    top: 0;
    padding: 1rem;
    position: sticky;
    background-color: var(--secondary-background);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.5rem;
    margin: 0rem;
    border-bottom-right-radius: var(--border-radius)
}

body[data-layout="sidebar"] aside ul li {
    background-color: var(--primary-background);
    border-radius: var(--border-radius);
    padding: 0.25rem;
    list-style: none;
}

body[data-layout="sidebar"] aside ul li input[type="radio"] {
    display: none;
}

body[data-layout="sidebar"] aside ul li label {
    cursor: pointer;
    transition: 0.3s;
}

body[data-layout="sidebar"] aside ul li label:hover {
    padding-left: 1rem;
}

body[data-layout="sidebar"] aside ul li input[type="radio"]:checked+label {
    padding-left: 0rem;
    color: var(--accent-color);
    text-decoration: underline;
}

body[data-layout="sidebar"] aside ul li input[type="radio"]:checked+label::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-color);
    margin-right: 0.5rem;
}

body[data-layout="sidebar"] aside ul li input[type="radio"]+label {
    color: var(--primary-color);
    text-decoration: none;
}

body[data-layout="sidebar"] main {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;
}